.popup__save-button{
    width: 100%;
    height: 50px;
    background-color: black;
    font-size: 18px;
    line-height: 1.21;
    font-weight: 400;
    color: white;
    border: none;
    box-sizing: border-box;
    margin: 48px 0 37px 0;
    transition: ease-in-out .2s;
    border-radius: 5px;
}

.popup__save-button:hover{
    opacity: .8;
    cursor: pointer;
}

@media screen and (max-width: 550px){
    .popup__save-button{
        font-size: 14px;
        margin: 45px 0 25px 0;
    } 
 }