.profile__info-first-row{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 690px){
    .profile__info-first-row{
        margin-top: 26px;
        
    } 
 }

